@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

@media only screen and (width < 415px) {
    html {

        align-content: center;
        overflow:hidden;
        background-repeat:no-repeat;
        -webkit-filter:saturate(1);
        filter:saturate(1);
    }
    #gif{

        display: fixed;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        scale:50%;
        -webkit-transform: scale(.4, .4);
        transform:scale(.4,.4);
        
    }
    #strawberry-png {

        scale:20%;

    }
    

    
}
@supports (-webkit-touch-callout: none) {
    * {
        -webkit-transform: scale(.8,.8);
        transform:scale(.8,.8);
    }
    #gif {
        -webkit-filter:saturate(1);
        -webkit-box-align: center;
        -webkit-transform: scale(.4, .4);
        transform:scale(.4,.4);
        filter:saturate(1);
    }
}
  
@keyframes bounce {
    20%{transform:translateY(20px);}
    40%{transform:translateY(0px);}
    60%{transform:translateY(5px);}
}
@keyframes changeColor {

    10% {background-color: #421321;}
    80% {background-color: #421321;}
    90% {background-color: #B47B84;}
}
html {
    height:100%;
    width:100%;
    position: fixed;
    background-size:cover;
    overflow: hidden;
    text-align: center;
    align-content: center;
}
* {
    font-family: 'Protest Riot';
    color: #944E63;
}
body{
    z-index: 0;
    position:fixed;
    color: #944E63;
    background-image: linear-gradient(to bottom,#FFE7E7 50%,#CAA6A6);
    background-repeat: none;
    width:100%;

}


h1 {
    padding-top: 20px;
    text-align: center;
    margin: auto;
    transition:1.0s;
    
}

p {
    font-size: 2rem;
    text-align:center;
    opacity:0;
    transition:1s;
    
}
button {
    z-index: 10;
    border:none;
    width:100px;
    height:50px;
    border-radius: 10px;
    box-shadow: 0 0 10px #944E63;
    font-size: 2rem;
    color:white;
    background-color:#B47B84;
    transition:1.5s;
}

#yes:hover{
    filter:hue-rotate(720deg);
    transform:translateY(-5px);
    background-color: red;

}
#yes:focus{
    animation: 1s ease-in-out 0.3s changeColor;
}
#yes:not(:hover){

    background-color:#B47B84;
}

#no{
    transition:0.2s ease-in;
}
button:hover {cursor:pointer;}
button:not(:hover) {transition:1s;}


#gif {
    z-index:9;
    position:sticky;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    align-content: center;

}
#div-container {
    display: flex;
    margin:auto;
    padding:10px;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width:70%;
    height:300px;

}
#strawberry-png {

    position:fixed;
    bottom:0;
    display:flex;
    flex-wrap: nowrap;
    z-index: -1;
    opacity:0.3;
    scale:60%;
    
}
#strawberry, #strawberry-2, #strawberry-3{

    transform:translate(-300px,120px);
}


