@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

@media only screen and (max-width: 414px) {
    
    html {
        
        scale:80%;
        
    }  
    
    .gif{

        margin-top:0px;
        margin:auto;
        align-content: center;
        transition:1s;
        transform:scale(2);
        
    }
    

    
}
@keyframes bounce {
    20%{transform:translateY(20px);}
    40%{transform:translateY(0px);}
    60%{transform:translateY(5px);}
}


html {

    font-family: 'Protest Riot';
    color: #944E63;
    background-image: linear-gradient(to bottom,#FFE7E7 50%,#CAA6A6);
    overflow:hidden;

}


h1 {
    padding-top: 20px;
    text-align: center;
    margin: auto;
    transition:1.0s;
    
}

p {
    font-size: 2rem;
    text-align:center;
    opacity:0;
    transition:1s;
    
}
button {
    font-family: 'Protest Riot';
    border:none;
    width:100px;
    height:50px;
    border-radius: 10px;
    box-shadow: 0 0 10px #944E63;
    font-size: 2rem;
    color:white;
    background-color:#B47B84;
    transition:1.5s;
}
#yes:hover{
    filter:hue-rotate(720deg);
    transform:translateY(-5px);
    background-color: red;

}
#yes:focus{
    transition:0.3s;
    background-color: #541b24;
}
#yes:not(:hover){

    background-color:#B47B84;
}

#no{
    transition:0.3s;
}
button:hover {cursor:pointer;}
button:not(:hover) {transition:1s;}


.gif {
    position:sticky;
    margin:auto;
    margin-top:40px;
    border-radius: 20px;
    display:flex;
    align-content: center;
    box-shadow: 0 0 40px;

}
#div-container {
    
    display: flex;
    margin:auto;
    padding:10px;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width:70%;
    height:300px;

}

